################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/gokhantuncer.github.io/FileContentIndex
/.vs
